<h1>Detalhes do Professor(a) <%= @instructor.name %></h1>

<dl>
  <dt><%= Instructor.human_attribute_name(:email) %></dt>
  <dd><%= @instructor.email %></dd>
  <dt><%= Instructor.human_attribute_name(:bio) %></dt>
  <dd><%= @instructor.bio %></dd>
  <% if @instructor.profile_picture.attached? %>
    <dt><%= Instructor.human_attribute_name(:profile_picture) %></dt>
    <dd><%= image_tag @instructor.profile_picture %></dd>
  <% end %>
</dl>

<br>
<%= link_to "Editar Professor(a)", edit_instructor_path(@instructor) %>
<br>
<%= link_to "Apagar", @instructor, method: :delete %>
<br>
<%= link_to "Voltar", instructors_path %>
