<h1>Detalhes do Professor(a) <%= @instructor.name %></h1>

<dl>
  <dt>E-mail:</dt>
  <dd><%= @instructor.email %></dd>
  <dt>Descrição:</dt>
  <dd><%= @instructor.bio %></dd>
  <dt>Foto do Perfil:</dt>
  <% if @instructor.profile_picture.attached? %>
    <%= image_tag @instructor.profile_picture %>
  <% end %>
</dl>

<br>
<%= link_to "Editar", edit_instructor_path(@instructor) %>
<br>
<%= link_to "Apagar", @instructor, method: :delete %>
<br>
<%= link_to "Voltar", instructors_path %>
