<h1>Detalhes do Professor(a) <%= @instructor.name %></h1>

<dl>
  <dt>E-mail:</dt>
  <dd><%= @instructor.email %></dd>
  <dt>Descrição:</dt>
  <dd><%= @instructor.bio %></dd>
  <dt>Foto do Perfil:</dt>
  <img <%= image_tag @instructor.image_name %>>
</dl>

<%= link_to "Voltar", instructors_path %>
