<% if @course.errors.any? %>
  <div id = "error_explanation">
    <ul>
      <% @course.errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @course do |c| %>
  <%= c.label :name, 'Nome: ' %>
  <%= c.text_field :name %>
  <br>
  <%= c.label :description, 'Descrição: ' %>
  <%= c.text_field :description %>
  <br>
  <%= c.label :code, 'Código do curso: ' %>
  <%= c.text_field :code %>
  <br>
  <%= c.label :price, 'Preço do curso: ' %>
  <%= c.text_field :price %>
  <br>
  <%= c.label :enrollment_deadline, 'Data limite de matrícula: ' %>
  <%= c.date_field :enrollment_deadline %>
  <br>
  <%= c.label :banner, 'Banner:' %>
  <%= c.file_field :banner %>
  <br>
  <%= c.submit 'Salvar' %>
<% end %>

<br>
<%= link_to "Voltar", courses_path %>
