<% if @course.errors.any? %>
    <div id = "error_explanation">
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>Criando um curso</h1>

<%= form_for @course do |c| %>
  <%= c.label :name, 'Nome: ' %>
  <%= c.text_field :name %>
  <br>
  <%= c.label :description, 'Descrição: ' %>
  <%= c.text_field :description %>
  <br>
  <%= c.label :code, 'Código do curso: ' %>
  <%= c.text_field :code %>
  <br>
  <%= c.label :price, 'Preço do curso: ' %>
  <%= c.text_field :price %>
  <br>
  <%= c.label :enrollment_deadline, 'Data limite de matrícula: ' %>
  <%= c.date_field :enrollment_deadline %>
  <br>
  <%= c.submit 'Criar curso' %>
<% end %>
