<% if @course.banner.attached? %>
  <%= image_tag @course.banner %>
<% end %>
<br>

<h1>Detalhes do curso <%= @course.name %></h1>

<dl>
  <dt>Descrição</dt>
  <dd><%= @course.description %></dd>
  <dt>Código do curso</dt>
  <dd><%= @course.code %></h3></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency @course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></dd>
  <dt>Data limite de matrícula</dt>
  <dd><%= @course.enrollment_deadline.strftime('%d/%m/%Y') %></dd>
</dl>

<br>
<%= link_to 'Editar', edit_course_path(@course) %>
<br>
<%= link_to 'Apagar', @course, method: :delete %>
<br>
<%= link_to 'Voltar', courses_path %>
