<% if @course.banner.attached? %>
  <%= image_tag @course.banner %>
<% end %>
<br>

<h1>Detalhes do curso <%= @course.name %></h1>

<dl>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt><%= Course.human_attribute_name(:code) %></dt>
  <dd><%= @course.code %></dd>
  <dt><%= Course.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%= Course.human_attribute_name(:enrollment_deadline) %></dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt><%= Course.human_attribute_name(:instructor) %></dt>
  <dd><%= "#{@course.instructor.name} - #{@course.instructor.email}" %></dd>
</dl>

<div id="lessons">
  <% if @course.lessons.empty? %>
    <p>Não tem aulas cadastradas.</p>
  <% else %>
    <p>Aulas disponíveis:</p>
  <% end %>
  <% @course.lessons.each do |lesson| %>
    <p><%= link_to lesson.name, [:admin, @course, lesson] %></p>
    <p><%= t('lesson.duration', count: lesson.duration) %></p>
    <br>
  <% end %>
</div>

<br>
<%= link_to 'Editar Curso', edit_admin_course_path(@course) %>
<br>
<%= link_to 'Apagar Curso', [:admin, @course], method: :delete %>
<br>
<%= link_to 'Registrar uma aula', new_admin_course_lesson_path(@course) %>
<br>
<%= link_to 'Voltar', admin_courses_path %>
